# [dbo].[tblAluno]

In [0]:
USE [SistemaAcademia]
GO

In [0]:
/****** Object:  Table [dbo].[tblAluno]    Script Date: 18/03/2023 13:52:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAluno](
	[idAluno] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](60) NOT NULL,
	[CPF] [varchar](14) NOT NULL,
	[dtNascimento] [date] NOT NULL,
	[telefone] [varchar](15) NULL,
	[celular] [varchar](16) NULL,
	[sexo] [char](1) NOT NULL,
	[bitAtivo] [bit] NOT NULL,
	[email] [varchar](80) NULL,
	[dataCadastro] [date] NULL,
 CONSTRAINT [pkIdAluno] PRIMARY KEY CLUSTERED 
(
	[idAluno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tblMedicoes]

In [0]:
/****** Object:  Table [dbo].[tblMedicoes]    Script Date: 18/03/2023 13:52:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMedicoes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[peso] [varchar](5) NULL,
	[altura] [varchar](5) NULL,
	[bracoD] [varchar](5) NULL,
	[anteBracoD] [varchar](5) NULL,
	[coxaD] [varchar](5) NULL,
	[panturrilhaD] [varchar](5) NULL,
	[bracoE] [varchar](5) NULL,
	[anteBracoE] [varchar](5) NULL,
	[coxaE] [varchar](5) NULL,
	[panturrilhaE] [varchar](5) NULL,
	[peitoral] [varchar](5) NULL,
	[cintura] [varchar](5) NULL,
	[quadril] [varchar](5) NULL,
	[CPF] [varchar](14) NOT NULL,
	[dataMedicao] [date] NULL
) ON [PRIMARY]
GO

# [dbo].[tblUsuario]

In [0]:
/****** Object:  Table [dbo].[tblUsuario]    Script Date: 18/03/2023 13:52:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[login] [varchar](20) NULL,
	[senha] [varchar](128) NULL,
	[nomeUsuario] [varchar](50) NULL,
	[CPF] [varchar](14) NULL,
	[email] [varchar](80) NULL,
	[dataCadastro] [date] NULL,
	[bitAtivo] [bit] NULL,
 CONSTRAINT [pkIdUsuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tblAluno]

In [0]:
SET IDENTITY_INSERT [dbo].[tblAluno] ON 
INSERT [dbo].[tblAluno] ([idAluno], [nome], [CPF], [dtNascimento], [telefone], [celular], [sexo], [bitAtivo], [email], [dataCadastro]) VALUES (1, N'Primeiro Aluno', N'123.456.789-01', CAST(N'2000-07-08' AS Date), N'(11)3214-4879', N'(11)1234-4567', N'M', 1, NULL, NULL)
INSERT [dbo].[tblAluno] ([idAluno], [nome], [CPF], [dtNascimento], [telefone], [celular], [sexo], [bitAtivo], [email], [dataCadastro]) VALUES (3, N'Segundo Aluno', N'123.456.789-02', CAST(N'2000-07-08' AS Date), N'(11)3214-4879', N'(11)1234-4567', N'M', 1, NULL, NULL)
INSERT [dbo].[tblAluno] ([idAluno], [nome], [CPF], [dtNascimento], [telefone], [celular], [sexo], [bitAtivo], [email], [dataCadastro]) VALUES (6, N'BRUNO', N'487.682.958-63', CAST(N'2000-07-08' AS Date), N'(11) 3928-2840', N'(11) 96438-934', N'M', 1, NULL, NULL)
INSERT [dbo].[tblAluno] ([idAluno], [nome], [CPF], [dtNascimento], [telefone], [celular], [sexo], [bitAtivo], [email], [dataCadastro]) VALUES (8, N'Segundo Aluno', N'123.456.789-03', CAST(N'2000-07-08' AS Date), N'(11)3214-4879', N'(11)1234-4567', N'M', 1, N'aluno@aluno.com', CAST(N'2022-06-13' AS Date))
INSERT [dbo].[tblAluno] ([idAluno], [nome], [CPF], [dtNascimento], [telefone], [celular], [sexo], [bitAtivo], [email], [dataCadastro]) VALUES (9, N'JOAO', N'123.456.456-46', CAST(N'2000-07-08' AS Date), N'(11) 6543-2189', N'(11) 32468-4765', N'M', 1, N'', CAST(N'2022-06-13' AS Date))
INSERT [dbo].[tblAluno] ([idAluno], [nome], [CPF], [dtNascimento], [telefone], [celular], [sexo], [bitAtivo], [email], [dataCadastro]) VALUES (10, N'JOAAO', N'789.546.213-54', CAST(N'1995-02-05' AS Date), N'(11) 9654-3218', N'(13) 16515-1351', N'M', 1, N'', CAST(N'2022-06-13' AS Date))
INSERT [dbo].[tblAluno] ([idAluno], [nome], [CPF], [dtNascimento], [telefone], [celular], [sexo], [bitAtivo], [email], [dataCadastro]) VALUES (11, N'TESTE', N'135.465.615-13', CAST(N'2000-07-08' AS Date), N'(13) 5151-3513', N'(15) 13515-1313', N'M', 1, N'', CAST(N'2022-06-13' AS Date))
INSERT [dbo].[tblAluno] ([idAluno], [nome], [CPF], [dtNascimento], [telefone], [celular], [sexo], [bitAtivo], [email], [dataCadastro]) VALUES (12, N'JOAOZINHO', N'457.892.548-47', CAST(N'2000-07-08' AS Date), N'(11) 9654-8754', N'(35) 48462-1387', N'M', 1, N'', CAST(N'2022-06-27' AS Date))
INSERT [dbo].[tblAluno] ([idAluno], [nome], [CPF], [dtNascimento], [telefone], [celular], [sexo], [bitAtivo], [email], [dataCadastro]) VALUES (13, N'JOAO', N'453.154.688-78', CAST(N'2000-01-20' AS Date), N'(11) 3544-8768', N'(11) 35477-8855', N'M', 1, N'', CAST(N'2022-06-28' AS Date))
SET IDENTITY_INSERT [dbo].[tblAluno] OFF
GO

# [dbo].[tblMedicoes]

In [0]:
SET IDENTITY_INSERT [dbo].[tblMedicoes] ON 
INSERT [dbo].[tblMedicoes] ([id], [peso], [altura], [bracoD], [anteBracoD], [coxaD], [panturrilhaD], [bracoE], [anteBracoE], [coxaE], [panturrilhaE], [peitoral], [cintura], [quadril], [CPF], [dataMedicao]) VALUES (1, N'70', N'170', N'10', N'10', N'10', N'10', N'10', N'10', N'10', N'10', N'10', N'10', N'10', N'453.154.688-78', CAST(N'2022-06-28' AS Date))
SET IDENTITY_INSERT [dbo].[tblMedicoes] OFF
GO

# [ucCPFAluno]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [ucCPFAluno]    Script Date: 18/03/2023 13:52:18 ******/
ALTER TABLE [dbo].[tblAluno] ADD  CONSTRAINT [ucCPFAluno] UNIQUE NONCLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [ucCPFUsuario]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [ucCPFUsuario]    Script Date: 18/03/2023 13:52:18 ******/
ALTER TABLE [dbo].[tblUsuario] ADD  CONSTRAINT [ucCPFUsuario] UNIQUE NONCLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [fkAlunoMedicoes]

In [0]:
ALTER TABLE [dbo].[tblMedicoes]  WITH CHECK ADD  CONSTRAINT [fkAlunoMedicoes] FOREIGN KEY([CPF])
REFERENCES [dbo].[tblAluno] ([CPF])
GO
ALTER TABLE [dbo].[tblMedicoes] CHECK CONSTRAINT [fkAlunoMedicoes]
GO